@model secureshare.ViewModels.DashboardViewModel
@{
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .badge-width {
            min-width: 75px; /* Set a minimum width that works for your design */
            display: inline-block;
            text-align: center;
        }
    </style>

</head>
<body>

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

                    <!-- Sales Card -->
                    <div class="col-md-3">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Folders</h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-folder"></i>
                                    </div>
                                    <div class="ps-3">
                                        <!-- Display folder count, handling potential null value -->
                                        <h6>@(Model.Folders)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Sales Card -->
                    <!-- Sales Card -->
            <div class="col-md-3">
              <div class="card info-card sales-card">



                <div class="card-body">
                  <h5 class="card-title">Users</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-person"></i>
                    </div>
                    <div class="ps-3">
                                        <h6>@(Model.Users)</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-md-3">
              <div class="card info-card revenue-card">

                <div class="card-body">
                                <h5 class="card-title">Uploads<span>| Today</span></h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cloud-arrow-up"></i>
                    </div>
                    <div class="ps-3">
                      <h6>@(Model.Uploads)</h6>          
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-md-3">

              <div class="card info-card customers-card">

                <div class="card-body">
                                <h5 class="card-title">Downloads<span>| Today</span></h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cloud-arrow-down"></i>
                    </div>
                    <div class="ps-3">
                                        <h6>@(Model.Downloads)</h6>
                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->



            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Actions <span>| Today</span></h5>

                  <div class="table-responsive" style="flex-grow: 1; overflow-y: auto;"> <!-- This will make only the table scrollable -->
                    <table class="table table-borderless datatable">
                      <thead>
                        <tr>
                          <th scope="col">User</th>
                          <th scope="col">Time</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                         @foreach (var act in Model.Actions)
                         {
                          <tr>
                           <td>@Model.users.FirstOrDefault(u => u.UserID == act.UserID)?.Username</td>
                           <td>@act.Timestamp</td>
                           <td>
                           @if (act.ActionPerformed == "Download"){<span class="badge bg-success badge-width">Download</span>}else if (act.ActionPerformed == "Upload"){<span class="badge bg-warning badge-width">Upload</span>}
                           </td>
                          </tr>
                         }                                             
                    </table>
                  </div>
                </div>

              </div>
            </div><!-- End Recent Sales -->
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

                <!-- Website Traffic -->
                <div class="card">
                    <div class="card-body pb-0">
                        <h5 class="card-title">Traffic <span>| Today</span></h5>

                        <div id="trafficChart" style="min-height: 500px;" class="echart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                var downloadCount = @Model.Downloads;
                                var uploadCount = @Model.Uploads;

                                echarts.init(document.querySelector("#trafficChart")).setOption({
                                    color: ['#28a745', '#FFDD57'], // Yellow and green colors
                                    tooltip: {
                                        trigger: 'item'
                                    },
                                    legend: {
                                        top: '5%',
                                        left: 'center'
                                    },
                                    series: [{
                                        name: 'Access From',
                                        type: 'pie',
                                        radius: ['40%', '70%'],
                                        avoidLabelOverlap: false,
                                        label: {
                                            show: false,
                                            position: 'center'
                                        },
                                        emphasis: {
                                            label: {
                                                show: true,
                                                fontSize: '18',
                                                fontWeight: 'bold'
                                            }
                                        },
                                        labelLine: {
                                            show: false
                                        },
                                        data: [
                                            {
                                                value: downloadCount,
                                                name: 'Downloads'
                                            },
                                            {
                                                value: uploadCount,
                                                name: 'Uploads'
                                            }
                                        ]
                                    }]
                                });
                            });
                        </script>

                    </div>
                </div><!-- End Website Traffic -->
        </div><!-- End Right side columns -->
      </div>
    </section>
</body>
</html>